page-intro {
.content{
    background-color: cornsilk;
}
.toolbar-background{background: cornsilk !important;}
.toolbar-content{background: cornsilk !important;}
.startButton{
    background-color: #FEA603;
}
}
